<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports QR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="navbar">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/qrlogo.png') }}" alt="Sports QR LOGO">
            </a>
        </div>
    
        <div class="navbar-slogan">
            <span class="main-title">SPORTS QR</span>
            <span class="sub-title">Sporu; farklı ve kaliteli izle!</span>
        </div>
    
        <div class="social-media">
            <a href="https://www.tiktok.com/@sportsqr" target="_blank">
                <img src="{{ url_for('static', filename='assets/tiktok_icon.png') }}" alt="TikTok">
            </a>
            <a href="https://www.instagram.com/sports.qr/" target="_blank">
                <img src="{{ url_for('static', filename='assets/instagram_icon.png') }}" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/@sportsqr" target="_blank">
                <img src="{{ url_for('static', filename='assets/youtube_icon.png') }}" alt="YouTube">
            </a>
        </div>
    </header>
    <section class="hero-video-section" id="hero">
        <div class="video-container">
            <iframe 
                src="https://www.youtube.com/embed/pe7-pxbUcRE?autoplay=1&mute=1&rel=0&modestbranding=1" 
                title="Sports QR Featured Video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
       
    </section>
    <section id="hero">
        <div class="embedded-videos-section">
            <h2 class="section-title">En Yeni İçeriklerimiz</h2>
            <div class="embedded-videos">
                <iframe src="https://www.tiktok.com/embed/7589681775694105874" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7589655255164488980" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7589633430455930133" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7589592172719115540" width="280" height="500" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="embedded-videos-section">
            <h2 class="section-title">En Popüler İçeriklerimiz</h2>
            <div class="embedded-videos">
                <iframe src="https://www.tiktok.com/embed/7440138887768329479" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7574063304872594708" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7445662564639362322" width="280" height="500" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.tiktok.com/embed/7440183551573773586" width="280" height="500" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
  
    <section class="team" id="team">
        <h2 class="section-title">Ekibimiz</h2>
        <div class="team-container">
            
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/abdik.jpg') }}" alt="Gökhan Abdik">
                <p><span class="name">Gökhan</span> <span class="surname">Abdik</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/mujdat.jpg') }}" alt="Müjdat M. Muratoğlu">
                <p><span class="name">Müjdat M.</span> <span class="surname">Muratoğlu</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/ozkan.jpg') }}" alt="Özkan Öztürk">
                <p><span class="name">Özkan</span> <span class="surname">Öztürk</span></p>
            </div>
    
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/ibrahim.jpg') }}" alt="İbrahim Altınsay">
                <p><span class="name">İbrahim</span> <span class="surname">Altınsay</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/cagri.jpg') }}" alt="Çağrı Davran">
                <p><span class="name">Çağrı</span> <span class="surname">Davran</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/erman.jpg') }}" alt="Erman Gönülşen">
                <p><span class="name">Erman</span> <span class="surname">Gönülşen</span></p>
            </div>
    
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/miray.jpg') }}" alt="Miray Çavuşoğlu">
                <p><span class="name">Miray</span> <span class="surname">Çavuşoğlu</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/asil.jpg') }}" alt="Asilhan Aksoy">
                <p><span class="name">Asilhan</span> <span class="surname">Aksoy</span></p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='assets/ezgi.jpg') }}" alt="Ezgi Sütcü">
                <p><span class="name">Ezgi</span> <span class="surname">Sütcü</span></p>
            </div>
    
        </div>
    </section>
    <section class="references" id="references">
        <h2 class="section-title">Referanslarımız</h2>
        <div class="carousel">
            <div class="carousel-track">
                <img src="{{ url_for('static', filename='assets/Prometeon.jpg') }}" alt="Prometeon">
                <img src="{{ url_for('static', filename='assets/nethousee.png') }}" alt="Nethouse">
                <img src="{{ url_for('static', filename='assets/pizzabullslogo.png') }}" alt="Pizza Bulls">
                <img src="{{ url_for('static', filename='assets/teknolom-logo.png') }}" alt="Teknolom">
                <img src="{{ url_for('static', filename='assets/ds.png') }}" alt="DS">
                <img src="{{ url_for('static', filename='assets/m2.png') }}" alt="M">
                <img src="{{ url_for('static', filename='assets/Prometeon.jpg') }}" alt="Prometeon">
                <img src="{{ url_for('static', filename='assets/nethousee.png') }}" alt="Nethouse">
                <img src="{{ url_for('static', filename='assets/pizzabullslogo.png') }}" alt="Pizza Bulls">
                <img src="{{ url_for('static', filename='assets/teknolom-logo.png') }}" alt="Teknolom">
                <img src="{{ url_for('static', filename='assets/ds.png') }}" alt="DS">
                <img src="{{ url_for('static', filename='assets/m2.png') }}" alt="M">
            </div>
        </div>
    </section>
    <section class="programs" id="programs">
        <h2 class="section-title">Programlarımız</h2>
        <div class="programlarimiz-container">
            <div class="program">
                <a href="https://www.youtube.com/watch?v=e9I9jb9GhgI" target="_blank">
                    <img src="{{ url_for('static', filename='assets/qr_g.png') }}" alt="QR GUNDEM">
                    <p>QR GÜNDEM</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=5AglZCBaDNQ" target="_blank">
                    <img src="{{ url_for('static', filename='assets/ob.png') }}" alt="O MU BU MU">
                    <p>O MU, BU MU?</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=T1xc-1Mqz_8" target="_blank">
                    <img src="{{ url_for('static', filename='assets/sq.png') }}" alt="SUPER QR">
                    <p>SÜPER QR</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=ne8wL0oTHio&list=PL2XxADymP5oXEVyQcSrgxy3S6H7wkT9RZ" target="_blank">
                    <img src="{{ url_for('static', filename='assets/pl_lab.png') }}" alt="PL LAB">
                    <p>PL LAB</p>
                </a>
            </div>
           
            <div class="program">
                <a href="https://www.youtube.com/watch?v=VdCAi1BCy9U&list=PL2XxADymP5oWgAVl55JAVO2F2KiUy_Q6H"target="_blank">
                    <img src="{{ url_for('static', filename='assets/pl_fantasy_show.png') }}" alt="SÜPER QR">
                    <p>PL QR</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=8Fm13cfdwzc&list=PL2XxADymP5oWUMZFFGrtae_1cwqGk01lX" target="_blank">
                    <img src="{{ url_for('static', filename='assets/turk_futbolunun_efsaneleri.png') }}" alt="Efsaneler">
                    <p>Türk Futbolunun Efsaneleri</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=SmPiCQu8a78" target="_blank">
                    <img src="{{ url_for('static', filename='assets/final_londra.png') }}" alt="Final Londra">
                    <p>Final Londra</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=AY7rbgBOfRk&list=PL2XxADymP5oWup2cJQLKIRtIB3lQcTvY4" target="_blank">
                    <img src="{{ url_for('static', filename='assets/napoli_ruyasi.png') }}" alt="Napoli">
                    <p>Napoli Rüyası</p>
                </a>
            </div>
            <div class="program">
                <a href="https://www.youtube.com/watch?v=H81835fUq0s" target="_blank">
                    <img src="{{ url_for('static', filename='assets/qr_rop.png') }}" alt="QR ROP">
                    <p>QR Röp</p>
                </a>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2 class="section-title">Bizimle İletişime Geçin</h2>
        <div class="contact-container">
            <div class="contact-form-container">
                <form class="contact-form" method="POST" action="{{ url_for('contact') }}">
                    <div class="name-fields" style="display: flex; gap: 15px;">
                        <input type="text" name="name" placeholder="Adınız" required>
                        <input type="text" name="surname" placeholder="Soyadınız" required>
                    </div>
                    <input type="email" name="email" placeholder="E-posta Adresiniz" required>
                    <textarea name="message" placeholder="Mesajınız" rows="5" required></textarea>
                    <button type="submit">MESAJI GÖNDER</button>
                </form>
            </div>
            <div class="contact-info">
                <p>Reklam, sponsorluk ve diğer iş birlikleri için bize ulaşın.</p>
                <p><strong><span class="highlight" style="color: #ff007f;">E-Posta:</span></strong> info@sportsqr.com.tr</p>
            </div>
        </div>
    </section>

    <footer>
        &copy; 2025 Sports QR | Tüm Hakları Saklıdır.
    </footer>

</body>
</html>
